@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|PT+Sans+Caption:700');


page-todays-schedule {


.title-day {
  text-shadow: 1px 1px darkslategrey;
  font-size: 2em;
  font-family: 'Archivo Black', sans-serif;
}

.button-x-size {
  font-size: 2em;
}

.checkbox-md .checkbox-icon {
  height: 40px;
  width: 40px;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  left: 10px;
  width: 15px;
  height: 30px;
}

.img-task-size {
  height: 80px;
  width: 80px;
  background-color: #FBD43B;
  border-radius: 10%;
}

.label-task-font {
  color: #F7931E;
  text-shadow: 1px 1px darkslategrey;
  font-size: 2em;
  font-family: 'Archivo Black', sans-serif;
  margin-left: 25%;
}






}
