@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|PT+Sans+Caption:700');


page-todays-schedule {


.title-day {
  text-shadow: 1px 1px darkslategrey;
  font-size: 2em;
  font-family: 'Archivo Black', sans-serif;
}

.button-x-size {
  font-size: 2em;
}

.checkbox-md .checkbox-icon {
  height: 40px;
  width: 40px;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  left: 10px;
  width: 15px;
  height: 30px;
}

.img-task-size {
  height: 150px;
  width: 150px;
}

.label-task-font {
  color: #F7931E;
  text-shadow: 1px 1px darkslategrey;
  font-size: 2em;
  font-family: 'Archivo Black', sans-serif;
  margin-left: 15%;
}



@media screen and (max-width: 667px){
  .img-task-size {
    height: 100px;
    width: 100px;
  }

}


@media screen and (max-width: 495px){
  .label-task-font {
    font-size: 20px;
  
  }

  .img-task-size {
    height: 70px;
    width: 70px;
  }

}

@media screen and (max-width: 430px){
  .label-task-font {
    font-size: 15px;
  
  }


}

}
