page-item-detail {
  .item-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7931E;
  }

  .item-detail {
    width: 100%;
    background: white;
  }
  button{
    float: right;
  }

  ion-card-header {
    font-weight: bold;
  }
  .col{
    background: white;
  }

  .button[icon-only] {
      padding: 0;
      min-width: 10.9em;
  }

// ---------Calendar styles-------------

.caltitle {
  margin-top: 60px;
  text-align: center;
}

.calendar {
  text-align: center;
}

.monday, .tuesday, .wednesday, .thursday, .friday {
  border: 2px solid #000;
  width: 20%;
  padding: 10px 0;
  height: 600px;
  overflow: scroll;
}

.button-today-task {
  display: flex;
  text-align: center;
  justify-content: center;
}

.monday button {
  background-color: #F7931E;
}
.tuesday button{
  background-color: #3FA9F5;
}

.wednesday button{
  background-color: #FBD43B;
}

.thursday button{
  background-color: #8CC63F;
}

.friday button{
  background-color: #FF7BAC;
}

// ---------Media Queries-------------

@media only screen and (max-width: 995px) {
  .monday, .tuesday, .wednesday, .thursday, .friday {
    width: 30%;
    margin: 10px 10px 10px 10px;
  }

}

@media only screen and (max-width: 695px) {
  .monday, .tuesday, .wednesday, .thursday, .friday {
    width: 50%;
    margin: 0;
  }

}

@media only screen and (max-width: 500px) {
  .monday, .tuesday, .wednesday, .thursday, .friday {
    width: 100%;
  }

}


}
