<ion-header>
  <ion-navbar color="third">
    <ion-title>{{ item.first_name }} {{ item.last_name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-4 >
        <div class="item-profile"  text-center #profilePic [style.background-image]="'url(' + item.profile_pic + ')'">
        </div>
      </ion-col>
      <ion-col  col-12 col-md-8>
        <div class="item-detail" padding>
          <button ion-button id="btn">Edit</button>
          <h2>{{ item.first_name }} {{ item.last_name }}</h2>
          <p> Groups:
            <span >
              {{groups}}
            </span>
          </p>  
          <p>Notes: </p>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-card>
    <ion-card-header>
        Weekly Progress
    </ion-card-header>
    <ion-card-content>
      <ion-row class="text-center">
        <div class="button-today-task">
          <button ion-button icon-only block round (click)="resetWeek()" style="background-color:red;">Reset Week</button>
        </div>
      </ion-row>
      <canvas  #barCanvas ></canvas>
    </ion-card-content>
  </ion-card>

  <!-- CALENDAR STARTS -->
  <h1 class="caltitle"> {{item.first_name}}'s Schedule </h1>
  <ion-row class="text-center">
    <div class="button-today-task">
      <button ion-button icon-only block round (click)="openSchedule()">Today's Schedule</button>
    </div>
  </ion-row>
  <ion-row class="calendar" padding>
    <div padding class="weekdays monday">
      <h2>Monday</h2>
      <button ion-button icon-only block round (click)="openItem(item, 0)">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsMonday($event)">
          <ion-item text-capitalize *ngFor="let task of calMonday">{{ task.name }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays tuesday">
      <h2>Tuesday</h2>
      <button ion-button icon-only block round (click)="openItem(item, 1)">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsTuesday($event)">
          <ion-item text-capitalize *ngFor="let task of calTuesday">{{ task.name }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays wednesday">
      <h3>Wednesday</h3>
      <button ion-button icon-only block round (click)="openItem(item, 2)">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsWednesday($event)">
          <ion-item text-capitalize *ngFor="let task of calWednesday">{{ task.name }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays thursday">
      <h2>Thursday</h2>
      <button ion-button icon-only block round (click)="openItem(item, 3)">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsThursday($event)">
          <ion-item text-capitalize *ngFor="let task of calThursday">{{ task.name }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays friday">
      <h2>Friday</h2>
      <button ion-button icon-only block round (click)="openItem(item, 4)">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-list reorder= "true" (ionItemReorder)="reorderIconsFriday($event)">
          <ion-item text-capitalize *ngFor="let task of calFriday">{{ task.name }}</ion-item>
      </ion-list>
    </div>
  </ion-row>

</ion-content>
