page-item-detail {
  .item-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

  }

  .item-detail {
    width: 100%;
    background: white;
  }
  button{
    float: right;
  }


  ion-card-header {
    font-weight: bold;
  }
  .col{
    background: white;
  }

// ---------Calendar styles-------------

.caltitle {
  margin-top: 60px;
  text-align: center;
}

.calendar {
  text-align: center;
}

.monday, .tuesday, .wednesday, .thursday, .friday {
  border: 2px solid #000;
  width: 20%;
  padding: 10px 0;
  height: 600px;
  overflow: scroll;
}

.button-today-task {
  text-align: center;
  width: 15%;
  margin-left: 42%;
}

.monday button {
  background-color: #F7931E;
}
.tuesday button{
  background-color: #3FA9F5;
}

.wednesday button{
  background-color: #FBD43B;
}

.thursday button{
  background-color: #8CC63F;
}

.friday button{
  background-color: #FF7BAC;
}


@media only screen and (max-width: 500px) {
  .monday, .tuesday, .wednesday, .thursday, .friday {
    width: 100%;
  }

}



}
