<ion-header>
  <ion-navbar color="third">
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-4 >
        <div class="item-profile"  text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
        </div>
      </ion-col>
      <ion-col  col-12 col-md-8>
        <div class="item-detail" padding>
          <button ion-button id="btn">Edit</button>
          <h2>{{ item.name }}</h2>
          <p>Group Number: {{item.groupNumber}} </p>
          <p>Notes: </p>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-card>
    <ion-card-header>
        Weekly Progress
    </ion-card-header>
    <ion-card-content>
      <canvas  #barCanvas ></canvas>
    </ion-card-content>
  </ion-card>

  <!-- CALENDAR STARTS -->
  <h1 class="caltitle"> {{item.name}}'s Schedule </h1>
  <ion-row class="calendar" padding>
    <div padding class="weekdays monday">
      <h2>Monday</h2>
      <button ion-button icon-only block round (click)="openItem()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsMonday($event)">
          <ion-item *ngFor="let iconMonday of iconsMonday">{{ iconMonday }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays tuesday">
      <h2>Tuesday</h2>
      <button ion-button icon-only block round (click)="openItem()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsTuesday($event)">
          <ion-item *ngFor="let iconTuesday of iconsTuesday">{{ iconTuesday }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays wednesday">
      <h3>Wednesday</h3>
      <button ion-button icon-only block round (click)="openItem()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsWednesday($event)">
          <ion-item *ngFor="let iconWednesday of iconsWednesday">{{ iconWednesday }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays thursday">
      <h2>Thursday</h2>
      <button ion-button icon-only block round (click)="openItem()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsThursday($event)">
          <ion-item *ngFor="let iconThursday of iconsThursday">{{ iconThursday }}</ion-item>
      </ion-list>

    </div>
    <div padding class="weekdays friday">
      <h2>Friday</h2>
      <button ion-button icon-only block round (click)="openItem()">
        <ion-icon name="add"></ion-icon>
      </button>

      <ion-list reorder= "true" (ionItemReorder)="reorderIconsFriday($event)">
          <ion-item *ngFor="let iconFriday of iconsFriday">{{ iconFriday }}</ion-item>
      </ion-list>

    </div>
  </ion-row>

</ion-content>
