page-welcome {
    .splash-bg {
      position: absolute;
      background: url('../assets/img/Backgroundimg-01.svg') no-repeat transparent;
      background-size: cover;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;
    }

    @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }

    .container {
      padding-top: 20%; 
    }

    .splash-info {
      position: relative;
      z-index: 2;
      text-align: center;
    }
    .splash-logo {
      margin: auto;
      background: url('../assets/img/DoneLogo.png') no-repeat transparent;
      background-size: 100%;
      width: 328px;
      height: 128px;
    }
    button.login, button.signup {
      margin-top: 25px;
      background-color:#8CC63F;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 20px;
      font-weight: 900;
        &:hover{
          background-color: #fff !important;
          color: #F7931E;
        }
    }
}
