page-item-detail-edit {
  .item-profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

  }

  .item-detail {
    width: 100%;
    background: white;
  }
  button{
    float: right;
  }


  ion-card-header {
    font-weight: bold;
  }
  .col{
    background: white;
  }
}
