<ion-header>

  <ion-navbar hideBackButton>
    <ion-title> {{ item.name }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- inputs for name, group number, and notes -->
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-4 >
        <!-- <div class= "pic-and-icon"> -->
        <form>
          <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
          <div class= "picture-wrapper" (click)="getPicture()">
            <div *ngIf="!this.form.controls.profilePic.value">
              <div class="profile-image" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
              </div>
              <ion-icon name="add"></ion-icon>
            </div>
            <div class="new-profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
          </div>
        </form>

        <!-- <ion-icon name="add"></ion-icon> -->
        <!-- </div> -->
      </ion-col>

      <ion-col  col-12 col-md-8>
        <div class="item-detail" padding>
          <button ion-button (click)="closeEditPage(item)" id="btn">Save</button>
          <h1><input [(ngModel)]="item.name" placeholder="name"></h1>
          <p>
            <label>Group Number:
              <input [(ngModel)]="item.groupNumber" placeholder="groupNumber">
            </label>
          </p>
          <p>
            <label>Notes:
              <input  placeholder="notes">
            </label>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
        Weekly Progress
    </ion-card-header>
    <ion-card-content>
      <canvas  #barCanvas ></canvas>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-2 >
        Edit Progress:
      </ion-col>
      <ion-col col-12 col-md-2 >
        <input placeholder="Monday">
      </ion-col>
      <ion-col col-12 col-md-2 >
        <input placeholder="Tuesday">
      </ion-col>
      <ion-col col-12 col-md-2 >
        <input placeholder="Wednesday">
      </ion-col>
      <ion-col col-12 col-md-2 >
        <input placeholder="Thursday">
      </ion-col>
      <ion-col col-12 col-md-2 >
        <input placeholder="Friday">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
