page-group-detail {
  .profile-img-wrapper {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 15%;
    // object-fit: cover;

    img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
    }

  }
  h1{
    text-align: center;
    margin-right: 15%;
    margin-bottom: 5%

  }
  @media only screen and (max-width: 786px) {
    .profile-img-wrapper {
      height: 200px;
      width: 200px;
      margin-left: 10%;
      img {
        width: 200px;
        height: 200px;
      }
    }
    h1{
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 440px) {
    .profile-img-wrapper {
      height: 175px;
      width: 175px;
      margin-left: 0;
      img {
        width: 175px;
        height: 175px;
      }

    }
  }

  @media only screen and (max-width: 400px) {
    .profile-img-wrapper {
      height: 150px;
      width: 150px;
      margin-left: 0;
      img {
        width: 150px;
        height: 150px;
      }

    }
  }

}
